# Cấu hình môi trường cho Backend (Đặt trong thư mục backend/.env)
PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/xiv_studio
JWT_SECRET=xiv_studio_super_secret_jwt_key_2026
GEMINI_API_KEY=your_gemini_api_key_here

# Cấu hình VietQR Napas 247
VIETQR_BANK_ID=MB
VIETQR_ACCOUNT_NO=5100101042006
VIETQR_ACCOUNT_NAME=VU DUC DAT
VIETQR_TEMPLATE=compact2
